.letter {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 300ms ease-in, opacity 200ms ease-in;
    transition-delay: calc((17 - var(--order)) * 35ms);
}

.home-button:hover .letter {
    opacity: 1;
    transform: translateY(0%);
    transition: transform 200ms ease-in, opacity 400ms ease-in;
    transition-delay: calc((var(--order)) * 35ms);
}

.home-button {
    display: flex;
    width: 300px;
}

.exclamation-point {
    transform: translate(-250px, -3px) rotate(90deg);
    transition: transform 600ms ease-in;
    transition-delay: 200ms;
}

.home-button:hover .exclamation-point {
    transform: translate(-10px, 0px) rotate(0deg);
    transition: transform 600ms ease-out;
    transition-delay: 200ms;
}

@media screen and (max-width: 992px) {
    .home-button {
        scale: 0.75;
    }
}

@media screen and (max-width: 600px) {
    .home-button {
        width: 200px;
    }

    .home-button:hover .letter {
        animation: none;
    }

    .letter {
        animation: none;
        display: none;
    }

    .exclamation-point {
        transform: translate(-160px, -3px) rotate(90deg);
        transition: none;
    }

    .home-button:hover .exclamation-point {
        transform: translate(-160px, -3px) rotate(90deg);
        transition: none;
    }
}

/*@keyframes fadeIn {*/
/*    30% {*/
/*        opacity: 0;*/
/*        transform: translateY(40%);*/
/*    }*/

/*    40%, 100% {*/
/*        opacity: 1;*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/

@keyframes fadeOut {
    30% {
        opacity: 1;
        transform: translateY(0%);
    }

    40%, 100% {
        opacity: 0;
        transform: translateY(40%);
    }
}